
.game_navbar{
	height:50px;
}

.chat_body{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: rgba(0, 0, 0, 0.267);
}

.left_bloc{
	height:100vh;
	width: 20vw;
}
.create-room{
	height:20vh;
	width: 20vw;
	background-color: rgba(122, 122, 122, 0.084);
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid white;
	align-items: center;
	padding: 10px;
}

.room-form-title{
	color: greenyellow;
}
.private_room{
	font-size: 14px;
}
.create_room_form{
	display: flex;
	flex-direction: column;
}


/*    buttons    */
.form_button{
	color: white;
	width:120px;
	height:40px;
	font-size: 18px;
	background-color: transparent;
	cursor: pointer;
	border: none;
  }
  .form_button:hover{
	color: greenyellow;
	animation: squeeze_text_chat 0.4s ease-in-out;
	text-shadow: 3px 3px 20px #00b309,
	-2px 1px 30px #00b309;
	font-size: 18px;
  }

  @keyframes squeeze_text_chat {
	0% {
		font-size: 18px;
	}
	30% {
		font-size: 20px;
	}
	100% {
		font-size: 18px;
	}
  }



::-webkit-scrollbar{
    width: 6px;
	height: 100%;
}

::-webkit-scrollbar-thumb{
	background: transparent;
    background-clip: content-box; 
    border-radius: 50px;
    border: 6px #e2dad0 solid;
}


.public_room_list{
	height:30vh;
	width: 20vw;
	display: flex;
	background-color: rgba(122, 122, 122, 0.084);
	backdrop-filter: blur(5px);
	flex-direction: column;
	border-bottom: 1px solid white;
	align-items: center;
	padding: 10px;
	overflow-x: scroll;
}
/* 
.public_room_list .chatroom-button{
	overflow: hidden;
	height:20000px;
} */

.room-title{
	color: greenyellow;
	margin-bottom: 15px;
}
.chatroom-button{
	width: 116px;
	font-size: 16px;
	margin: 2px;
	border: 1px solid rgba(255, 255, 255, 0.447);
	background: transparent;
	color: white;
	text-align: center;
	align-items: center;
	/* overflow: hidden; */
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 1px;
}
.chatroom-button:hover{
	cursor: pointer;
	color: greenyellow;
	text-shadow: 3px 3px 20px #00b309,
	-2px 1px 30px #00b309;
	font-size: 16px;
}
.wrap_button{
	
	overflow-y: hidden;
}




.private_room_list{
	border-bottom: 1px solid white;
	height:30vh;
	width: 20vw;
	display: flex;
	background-color: rgba(122, 122, 122, 0.084);
	flex-direction: column;
	align-items: center;
	padding: 10px;
	overflow-x: scroll;
}


.room_settings{
	display: flex;
	background-color: rgba(122, 122, 122, 0.084);
	flex-direction: column;
	align-items: center;
	padding: 10px;
	overflow-x: scroll;
	height:20vh;
}

.settings_button{
	color: white;
	width:120px;
	height:40px;
	font-size: 15px;
	background-color: transparent;
	cursor: pointer;
	border: none;
}
.settings_button:hover{
	color: greenyellow;
	text-shadow: 3px 3px 20px #00b309,
	-2px 1px 30px #00b309;
}

.room_name{
	color: rgb(255, 238, 47);
	font-size: 22px;
}

.input_box_settings{
	display: flex;
	flex-direction: column;
	width: 116px;

}
.leave_chat{
	background-color: transparent;
	cursor: pointer;
	border: none;
	color: white;
	font-size: 15px;
}
.leave_chat:hover{
	color: rgb(255, 47, 47);
	text-shadow: 3px 3px 20px #b30000,
	-2px 1px 30px #b30000;
}





.message_container{
	width: 60vw;
	height:100vh;
	background-color: transparent;
}

.right_bloc{
	background:grey;
	height:100vh;
	width: 20vw;
}

.user_list{
	width: 20vw;
	height: 70vh;
	background: khaki;
}


.menu{
	height:30vh;
	width: 20vw;
	background: red;
}

