/* <!-- ****************************** -->
   <!-- ***********  GAME  *********** -->
   <!-- ****************************** --> */


.game_navbar{
	border-bottom: 1px solid rgb(93, 215, 255) !important;
}

.button_nav:hover{
	color: rgb(93, 215, 255)  !important;
	text-shadow: 3px 3px 20px rgb(93, 215, 255),
	-2px 1px 30px rgb(93, 215, 255)  !important;
}

.button_nav:hover::before {
	border-bottom: 10px solid rgb(93, 215, 255) !important;
}

.full_page{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.friendlist_box{
	width: 15%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.267);
	backdrop-filter: blur(5px);
	border-right: 1px solid  rgba(0, 0, 0, 0.275);
}

.friendlist_title{
	color:rgb(93, 215, 255);
	font-size: 40px;
}

.addfriend_bloc{
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: row;
	padding: 5px;
}

.input_friend{
	width: 160px;
	height: 30px;
	background-color: rgba(204, 204, 204, 0.323);
	border: none;
	color: white;
	font-size: 20px;
	padding: 1px;
}

.input_friend:focus{
	outline: none;
}

.addfriend_button{
	width: 30px;
	border: none;
	height: 30px;
	color: white;
	background-color: transparent;
	font-size: 25px;
}

.addfriend_button:hover{
	cursor: pointer;
	color: rgb(93, 215, 255);
}

.friend_name{
	font-size: 20px;
}

.friend_name:hover{
	cursor: pointer;
	color: rgb(93, 215, 255);
}

.lobby_box{
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lobby_title{
	font-size: 200px;
	margin-bottom:450px;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.connect_button{
	width: 250px;
	height: 80px;
	font-size: 40px;
	border: none;
	color: white;
	background: rgba(0, 0, 0, 0.482);
	transition: all 0.1s ease-in-out;
}

.connect_button:hover{
	background: rgba(0, 0, 0, 0.482);
	border-radius: 18px;
	cursor: pointer;
	/* color:rgb(93, 215, 255); */
	text-shadow: 3px 3px 20px rgba(93, 215, 255, 0.799),
	-2px 3px 20px rgba(93, 215, 255, 0.747);
	border: 3px solid rgb(93, 215, 255);
}

.connected_box{
	background-color: rgba(0, 0, 0, 0.267);
	backdrop-filter: blur(5px);
	width: 15%;
	height: 100%;
	border-left: 1px solid rgba(0, 0, 0, 0.257);
}

.connected_title{
	color:rgb(93, 215, 255);
	font-size: 40px;
}

.friends_list{
	align-items: center;
	justify-content: center;
	list-style: none;
}

.friend_line{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.connectedUsersName{
	font-size: 20px;
}

.green_dot{
	margin: 2px;
	width: 5px;
	border-radius: 100%;
	height: 5px;
	border-radius: 100%;
	background-color: greenyellow;
}

.red_dot{
	margin: 2px;
	width: 5px;
	border-radius: 100%;
	height: 5px;
	border-radius: 100%;
	background-color: red;
}