.play_button{
	width: 250px;
	height: 80px;
	font-size: 40px;
	border: none;
	color: white;
	background: rgba(0, 0, 0, 0.482);
	transition: all 0.1s ease-in-out;
	margin: 5px;
	position:absolute;
	margin: auto;
}
.play_button:hover{
	background: rgba(0, 0, 0, 0.482);
	border-radius: 18px;
	cursor: pointer;
	/* color:rgb(93, 215, 255); */
	text-shadow: 3px 3px 20px rgba(93, 215, 255, 0.799),
	-2px 3px 20px rgba(93, 215, 255, 0.747);
	border: 3px solid rgb(93, 215, 255);
}
.lobby_button{
	width: 250px;
	height: 80px;
	font-size: 40px;
	border: none;
	color: white;
	background: rgba(0, 0, 0, 0.482);
	transition: all 0.1s ease-in-out;
	bottom: 20px;
	position:absolute;
	margin: auto;
}
.lobby_button:hover{
	background: rgba(0, 0, 0, 0.482);
	border-radius: 18px;
	cursor: pointer;
	/* color:rgb(93, 215, 255); */
	text-shadow: 3px 3px 20px rgba(93, 215, 255, 0.799),
	-2px 3px 20px rgba(93, 215, 255, 0.747);
	border: 3px solid rgb(93, 215, 255);
}

.waiting_button{
	width: 250px;
	height: 80px;
	font-size: 40px;
	border: none;
	color: white;
	background: rgba(0, 0, 0, 0.482);
	transition: all 0.1s ease-in-out;
	margin: 5px;
	position:absolute;
	margin: auto;
	animation: waiting_button 4s infinite;
	border-radius: 18px;
	border: 3px solid rgb(93, 215, 255);
}

@keyframes waiting_button {
	0% {
		box-shadow: 3px 3px 2px rgba(93, 215, 255, 0.799),
		-2px 3px 2px rgba(93, 215, 255, 0.747);
	}
	30% {
		box-shadow: 3px 3px 40px rgba(93, 215, 255, 0.799),
		-2px 3px 40px rgba(93, 215, 255, 0.747);
	}
	60% {
		color:rgb(93, 215, 255);
		text-shadow: 3px 3px 40px rgba(93, 215, 255, 0.799),
		-2px 3px 40px rgba(93, 215, 255, 0.747);
		box-shadow: 10px 10px 60px rgba(93, 215, 255, 0.799),
		-2px 3px 60px rgba(93, 215, 255, 0.747);
	}
	80% {
		box-shadow: 3px 3px 40px rgba(93, 215, 255, 0.799),
		-2px 3px 40px rgba(93, 215, 255, 0.747);
	}
	100% {
		box-shadow: 3px 3px 2px rgba(93, 215, 255, 0.799),
		-2px 3px 2px rgba(93, 215, 255, 0.747);
	}
}
.score_bloc{
	height: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	margin-bottom: 20px;
}
.scores{
	background: rgba(35, 35, 35, 0.600);
	border-radius: 20px;
	font-size: 40px;
	padding: 20px;
	overflow: hidden;
}
#canvas{
	position: absolute;
	margin: auto;
	border-radius: 20px;
	backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.295);
	width: 800px;
	transition: width 0.5s ease-in-out;
}

.canvas-container{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 640px;
	height: 480px;
}

#player1_score{
	display: inline-block;
	transform: translateY(0px);
}
.pop_in{
	animation: go_in 0.2s ease-in-out;
}
@keyframes go_in {
	0% {
		text-shadow: 0 4px 2px -10px white;
		transform: translateY(50px);
	}
	100% {
		text-shadow: 0 4px 2px -10px white;
		transform: translateY(0px);
	}
}

.select_color_box{
	margin-top: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	height: auto;
	width: 100vw;
}

.select_color_box h1{
	width: 20%;
}

#player2_score{
	display: inline-block;
	transform: translateY(0px);
}
.pop_out{
	animation: go_out 0.2s ease-in-out;
}
@keyframes go_out {
	0% {
		text-shadow: 0 4px 2px -10px white;
		transform: translateY(0px);
	}
	100% {
		text-shadow: 0 4px 2px -10px white;
		transform: translateY(-100px);
		color: transparent;
	}
}


@media (max-width: 1000px) {
    #canvas {
        width: 600px;
    }
}
@media (max-width: 700px) {
    #canvas {
        width: 450px;
    }
}