
/* <!-- ****************************** -->
   <!-- *********** PROFILE ********** -->
   <!-- ****************************** --> */

.main_profile {
	/* margin: 10px; */
	display: flex;
	flex-direction: row;
	color: greenyellow;
	margin:auto;
}
.main_box {
	margin:auto;
	max-width: 600px;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.267);
	backdrop-filter: blur(5px);
	border-radius: 3px;
	width: 500px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: auto;
	justify-content: top;
	font-family: 'Bebas Neue', cursive;
	box-shadow: 10px 10px 50px black;
	color: greenyellow;
}
.username_bloc {
	align-items: center;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
.update_button{
	color: white;
	width:120px;
	height:40px;
	font-size: 22px;
	background-color: transparent;
	border: 1px solid white;
	cursor: pointer;
	border: none;
}
.edit_button{
	color: white;
	width:170px;
	font-size: 30px;
	/* height:40px; */
	background-color: transparent;
	cursor: pointer;
	line-height: 22px;
	border: none;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	text-align: center;
}

.edit_button:hover{
	color: rgb(255, 175, 47);
	animation: squeeze_text_edit 0.4s ease-in-out;
	text-shadow: 3px 3px 20px rgb(255, 175, 47),
	-2px 1px 30px rgb(255, 175, 47);
}
@keyframes squeeze_text_edit {
	0% {
		font-size: 32px;
	}
	30% {
		font-size: 34px;
	}
	100% {
		font-size: 32px;
	}
}
.send_message{
	color: white;
	width:40px;
	height:40px;
	font-size: 22px;
	background-color: transparent;
	cursor: pointer;
	border: none;
}
.edit_icone{
	margin: auto;
	width: 30px;
}
.unblock_button {
	background: rgb(255, 234, 0);
	width:15px;
	height:15px;
	margin:auto;
	color:black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.block_button {
	background: red;
	width:15px;
	height:15px;
	margin:auto;
	color:black;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	margin-top: 20px;
	margin-bottom: 10px;
	max-width: 300px;
	max-height: 200px;
	object-fit: cover;
	border-radius: 5px;
	align-items: center;
}
.profile_img{
	border: 10px solid rgba(204, 204, 204, 0.298);

}
.friends_bloc{
	margin:auto;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.267);
	backdrop-filter: blur(5px);
	border-radius: 3px;
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: top;
	font-family: 'Bebas Neue', cursive;
	box-shadow: 10px 10px 50px black;
	color: greenyellow;
}

.right_bloc{
	overflow: hidden;
	display: flex;
	flex: row;
	width: 300px;
	will-change: transform;
	height: 500px;
}
.achievements_bloc{
	position: absolute;

	margin:0;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.267);
	backdrop-filter: blur(5px);
	border-radius: 3px;
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: 'Bebas Neue', cursive;
	box-shadow: 10px 10px 50px black;
	color: greenyellow;
	transform: translateX(0px);
	animation: div_slide_right 0.2s ease-in-out;

}
.history_bloc{
	position: absolute;
	overflow: scroll;
	margin:0;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.267);
	backdrop-filter: blur(5px);
	border-radius: 3px;
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: 'Bebas Neue', cursive;
	box-shadow: 10px 10px 50px black;
	color: greenyellow;
	transform: translateX(-500px);
	animation: div_slide_left 0.2s ease-in-out;
}

.match_div{
	height:80%;
	width: 95%;
	margin: 10px:
	padding: 10px;
	align-items: center;
	text-align: center;
	overflow:scroll;
}
::-webkit-scrollbar{
    width: 6px;
	height: 100%;
}
::-webkit-scrollbar-thumb{
	background: transparent;
    background-clip: content-box; 
    border-radius: 50px;
    border: 6px #e2dad0 solid;
}
.history_bloc_switched{
	position: absolute;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.267);
	backdrop-filter: blur(5px);
	border-radius: 3px;
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	box-shadow: 10px 10px 50px black;
	color: greenyellow;
	transform: translateX(0px);
	animation: div_slide_right 0.2s ease-in-out;
	overflow: scroll;
}

.achievements_bloc_switched{
	position: absolute;
	margin:auto;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.267);
	backdrop-filter: blur(5px);
	border-radius: 3px;
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-family: 'Bebas Neue', cursive;
	box-shadow: 10px 10px 50px black;
	color: greenyellow;
	transform: translateX(-500px);
	animation: div_slide_left 0.2s ease-in-out;
}

@keyframes div_slide_left {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-500px);
	}
}

@keyframes div_slide_right {
	0% {
		transform: translateX(-500px);
	}
	100% {
		transform: translateX(0px);
	}
}


.history_button_div{
	align-items: center;
	text-align: center;
	justify-content: center;
}
.history_button{
	color: white;
	background-color: transparent;
	border: none;
}
.history_button:hover{
	cursor: pointer;
}
.friend_profile_icone{
	width: 30px;
	margin-bottom: 10px;
}
.profile_icone{
	width: 30px;
}
.profile_h1{
	position: relative;
	margin-top: 10px;
	font-size: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.friends_list{
	list-style: none;
}
.friendname{
	margin-left: 5px;
	font-size: 20px;
	color: white;
}
.friendname:hover{
	cursor: pointer;
	color: rgb(253, 245, 0);
	text-shadow: 3px 3px 30px rgba(255, 221, 0, 0.191),
	-2px 1px 40px rgba(255, 217, 0, 0.238);
}

.addfriend_bloc{
	margin-top: auto;
	display: flex;
	flex-direction: row;
}
.username{
	margin-bottom: 0px;
	font-size: 40px;
	display: flex;
	flex-direction: row;
	color:rgb(253, 245, 0);
}
.addfriend_button{
	margin: 0;
	margin-left: 3px;
	border: none;
	background-color: transparent;
	line-height: 25px;
	color: white;
	text-align: center;
	font-size: 25px;
}
.addfriend_button:hover{
	color:greenyellow;
	cursor: pointer;
}
.input_friend{
	outline: none;
}
.friend_button{
	background: none;
	border: none;
	display: inline-block;
	animation: text_slide 0.2s ease-in-out;
}

.friend_button:hover{
	cursor: pointer;
}
.block_button:hover{
	cursor: pointer;
}
.unblock_button:hover{
	cursor: pointer;
}

.block_button{
	background-color: transparent;
	color: red;
	border: none;
	width: 60px;
	font-size: 20px;
	height: 40px;
}
.unblock_button{
	background-color: transparent;
	color: white;
	border: none;
	width: 60px;
	height: 40px;
	font-size: 20px;
}

.other_user_button{
	border: none;

}

.add_friend_button{
	background: url("img/online_icone.png") no-repeat center;
	background-size: contain;
	width: 40px;
	border: none;
	cursor: pointer;
	height: 40px;
}

.add_friend_button .tooltiptext {
	visibility: hidden;
	width: 60px;
	background-color: rgba(0, 0, 0, 0.519);
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
  }

  .add_friend_button:hover .tooltiptext {
	visibility: visible;
  }

.remove_friend_button{
	background: url("img/offline_icone.png") no-repeat center;
	background-size: contain;
	width: 40px;
	border: none;
	cursor: pointer;
	height: 40px;
}

.remove_friend_button .tooltiptext {
	visibility: hidden;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.519);
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

  .remove_friend_button:hover .tooltiptext {
	visibility: visible;
}

.block_user_button{
	background: url("img/chafer_icone.png") no-repeat center;
	background-size: contain;
	width: 40px;
	border: none;
	cursor: pointer;
	height: 40px;
}

.block_user_button .tooltiptext {
	visibility: hidden;
	width: 60px;
	background-color: rgba(0, 0, 0, 0.519);
	color: #fff;
	text-align: center;
	padding: 2px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
  }

  .block_user_button:hover .tooltiptext {
	visibility: visible;
  }

  .buttons_other_user{
	display:block;
	float:right
}

.unblock_button{
	background: url("img/lapino_icone.png") no-repeat center;
	background-size: contain;
	width: 40px;
	border: none;
	cursor: pointer;
	height: 40px;
	font-size: 12px;
}

.unblock_button .tooltiptext {
	visibility: hidden;
	width: 60px;
	background-color: rgba(0, 0, 0, 0.519);
	color: #fff;
	text-align: center;
	padding: 2px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
  }

  .unblock_button:hover .tooltiptext {
	visibility: visible;
  }

  .buttons_other_user{
	display:block;
	float:right
}

.achievement_div{
	display: flex;
	flex-direction: row;
	margin: 5px;
	padding: 5px;
	background: rgba(0, 0, 0, 0.305);
	border-radius: 5px;
	width: 200px;
}

.achievement{
	border-radius: 5px;
	padding-top: 3px;
	margin: 3px;
	background-color: transparent;
	width: 50px;
	height: 50px;
	background: url("img/firstwin_icone.png") no-repeat center;
	background-size: contain;
	filter: grayscale(1);
	align-items: flex-start;
}

.achievement_true{
	border-radius: 5px;
	padding-top: 3px;
	margin: 3px;
	background-color: transparent;
	width: 50px;
	height: 50px;
	background: url("img/firstwin_icone.png") no-repeat center;
	background-size: contain;
	align-items: flex-start;
	filter: grayscale(0);
	filter: drop-shadow(0px 0px 5px rgb(255, 230, 0));
	animation: moving_shadow 4s infinite;
}

@keyframes moving_shadow {
	0% {
		filter: drop-shadow(0px 0px 5px rgb(255, 230, 0));
	}
	30% {
		filter: drop-shadow(0px 0px 0px rgb(255, 230, 0));
	}
	80% {
		filter: drop-shadow(0px 0px 0px rgb(255, 230, 0));
	}
	100% {
		filter: drop-shadow(0px 0px 5px rgb(255, 230, 0));
	}
}

.achievement_title_text_box{
	display: flex;
	flex-direction: column;
}

.achievement_title{
	margin-top: 3px;
	text-align: left;
}

.achievement_text{
	width: 120px;
	color: white;
	text-align: left;
}

.green_dot{
	margin: 2px;
	width: 5px;
	border-radius: 100%;
	height: 5px;
	border-radius: 100%;
	background-color: greenyellow;
}
 
.red_dot{
	margin: 2px;
	width: 5px;
	border-radius: 100%;
	height: 5px;
	border-radius: 100%;
	background-color: red;
}

.blue_dot{
	margin: 2px;
	width: 5px;
	border-radius: 100%;
	height: 5px;
	border-radius: 100%;
	background-color: cyan;
}

.friendBloc{
	display: flex;
	align-items: center;
	justify-content: center;
}

.history_title_bloc{
	display: flex;
	height: 50px;
	/* position: absolute; */
	margin-bottom: 20px;
	top: 40px;
}

.history_button{
	margin-top: 40px;
	font-size: 40px;
	color:greenyellow;
}

.history_button:hover{
	color:yellow;
}

.history_line{
	font-size: 18px;
	margin: 2px;
	color: white;
}