.navigation{
    text-align: center;
    font-size: 25px;
    margin-top: 100px;
}

.navigation a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    background-color: DarkSeaGreen;
    border: 2px solid #feca1b;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 200px;
    height: 100px;
  }
  
  .navigation a:hover {
    color: DarkSeaGreen;
    background-color: gold;
  }